# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment folders
.env
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environment
*.egg-info/
*.egg
*.log

# Azure secrets or local config files (you can create this file for local use)
config.json
